doctype html
html
    head
        title The Amazing Number Cruncher
    body
        p Thank you. The results are as follows (PUG):
        ul
            li #{num1} + #{num2} = #{add}
            li #{num1} - #{num2} = #{sub}
            li #{num1} * #{num2} = #{mul}
            li #{num1} / #{num2} = #{div}
        p
            a(href=".") Return To The Form
